<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <!--profile page-->
    <div class="main">
        <p>User profile</p>
        <div class="profile-pic">
            <img src="profile.jpg" alt="Profile picture">
        </div>
        <div class="profile-info">
            <h2>Mahima Gurung</h2>
            <p>mahima@gmail.com </p>
    </div>
    <div class="flex ">
        <button> Edit profile </button>
        <button> Delete profile </button>
        <div class="">
        <button> Logout </button>
        </div>
    </div>   
    </div>
    
</body>
</html>