<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <!--profile page-->
    <div class="main">
        <p>User profile</p>
        <div class="profile-pic">
            <img src="profile.jpg" alt="Profile picture">
        </div>
        <div class="profile-info">
            <h2>John Doe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel turpis vel sapien tincidunt consectetur. Nullam convallis, ipsum sit amet gravida fermentum, nisi velit scelerisque purus, non tristique nunc velit et velit. Sed finibus, justo vel efficitur fermentum, metus justo placerat velit, non luctus justo
    </div>
    
</body>
</html>